/*-- Nav --*/

.nav{
    margin: 0 auto;
    position: absolute;

    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 0 0 52px;

    width: 100%;

    display: flex;
    align-items: center;

    z-index: 10000;

    &__logo{

        img{
            width: 48px;
        }
    }

    &__links{
        margin-left: auto;

        height: 96px;
        width: 830px;
        padding: 0 0 0 120px;

        list-style: none;

        display: flex;
        align-items: center;
        gap: 48px;

        background: rgba(255, 255, 255, 5%);
        backdrop-filter: blur(80px);

        li{
            
            .active{
                position: relative;

                &::after{
                    content: "";
                    height: 3px;
                    width: 100%;
                
                    position: absolute;
                    bottom: -38px;
                    left: 0;

                    background: var(--light--clr);
                }
            }

            .inactive{
                position: relative;


                &::after{
                    content: "";
                    height: 3px;
                    width: 0;
                
                    position: absolute;
                    bottom: -38px;
                    left: 0;

                    background: rgba(255, 255, 255, 0.5);

                    transition: 0.4s;
                }

                &:hover::after{
                    width: 100%;
                }
            }
        }

        &__hamburger{
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .nav{
        top: 0;
    
        &__links{
            width: 450px;
            padding: 0 48px;

            justify-content: space-between;
            gap: 0;
        }
    }
}

@media (max-width: 426px) {
    .nav{
        padding: 24px;

        &__logo{

            img{
                width: 40px;
            }
        }

        &__links{
            position: absolute;
            height: 100vh;
            width: 250px;
            padding: 120px 0 0 32px;

            top: -100vh;
            right: 0;

            display: flex;
            flex-direction: column;
            justify-content: normal;
            align-items: flex-start;
            gap: 32px;

            transition: 0.4s;

            li{

                .active{

                    &::after{
                        width: 4px;
                        height: 100%;
    
                        left: 214px;
                        top: 0;
                    }
                }

                .inactive{

                    &::after{
                        width: 0;
                        height: 0;
                    }
                }
            }
        }

        &__links--active{
            right: 0;
            top: 0  ;
        }
    
        &__hamburger{
            margin-left: auto;

            position: relative;
            display: flex;
            height: 21px;
            width: 24px;

            .line__1{
                position: absolute;
                height: 3px;
                width: 24px;
                background: var(--fog--clr);
            
                top: 0;
                left: 0;

                transition: 0.2s;
            }
            .line__2{
                position: absolute;
                height: 3px;
                width: 24px;
                background: var(--fog--clr);
            
                top: 50%;
                left: 0;
                transform: translate(0, -50%);

                transition: 0.2s;
            }
            .line__3{
                position: absolute;
                height: 3px;
                width: 24px;
                background: var(--fog--clr);
            
                bottom: 0;
                left: 0;

                transition: 0.2s;
            }
        }

        .nav__hamburger--active{
            
            .line__1{
                top: 50%;
                transform: translate(0, -50%) rotate(45deg);
            }
            
            .line__2{
                width: 0;
            }

            .line__3{
                top: 50%;
                transform: translate(0, -50%) rotate(-45deg);
            }
        }
    }
}